.menu {
    background-color: #498C3F;
    padding: 25px;
    border-right: 1px solid #498C3F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 200px;
    position: fixed;
}

.menu_logo {
    font-weight: 1000;
    font-size: 20px;
    margin-bottom: 20px;
}

.menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu a {
    font-size: 14px;
    font-weight: 600;    
    margin: 10px;
    box-shadow: 1px 1px 2px #498C3F;
    padding: 10px 20px;
    display: block;
    text-decoration: none;
    border-radius: 20px;
    text-align: center;
    transition: transform 0.3s ease;
}   

.menu a:hover {    
    transform: scale(1.2);
}

/* Estilos para celular */
@media (max-width: 600px) {
    .menu {
        width: 100%;
        height: auto;
        bottom: 0;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 10px;
        position: fixed;
    }

    .menu_logo {
        display: none;
    }

    .menu ul {
        flex-direction: row;
    }

    .menu a {
        font-size: 12px;
        margin: 5px;
        padding: 5px 10px;
    }
}
