.App {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 150vh;
}

/* Estilos para celular */
@media (max-width: 600px) {
  .App {
    height: 180vh; /* Altera para altura automática */
    padding: 20px; /* Adiciona espaçamento interno */
  }
}
