.App {
  overflow-x: hidden;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Estilos para celular */
@media (max-width: 600px) {
  .App {
    height: 150vh; /* Altera para altura automática */

  }
}
