.App {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 150vh;
}

/* Estilos para celular */
@media (max-width: 600px) {
  .App {
    height: 170vh; /* Altera para altura automática */

  }
}
